<div class="list">
    <label class="item item-input">
        <input type="text" placeholder="Nom" ng-model="e.name">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Categorie" ng-model="e.categorie">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Description" ng-model="e.desc">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Description" ng-model="e.price">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Image source" ng-model="e.src">
    </label>
    <button ng-click="add(e)" class="button button-full button-positive">
        Ajouter un produit
    </button>
</div>