<html>

<body>

<ion-view title="Categorie">

<label class="item item-input search">
    <i class="icon icon-search placeholder-icon"></i>
    <input type="search" placeholder="Rechercher des t-shirts, des goodies, etc.." ng-model="searchQuery" />
</label>
<div class="list | filter:searchQuery">

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>T-shirt</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>Short</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>casquette</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>pull</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>débardeurs</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>Album</h2>
        <p></p>
    </a>


</div>


</ion-view>

</body>

</html>