
<ion-view view-title="categorie">
 
<ion-content [scrollbar-y ="false"]>

<div class="list">

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>T-shirt</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>Short</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="listProducts.html">
        <img src="cover.jpg">
        <h2>casquette</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>pull</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>débardeurs</h2>
        <p></p>
    </a>

    <a class="item item-thumbnail-left" href="#">
        <img src="cover.jpg">
        <h2>Album</h2>
        <p></p>
    </a>


</div>

 </ion-content>
</ion-view>

