<ion-header-bar>
    <a class="button button-icon" ui-sref="profil">
        <i class="icon ion-android-arrow-back white"></i>
    </a>
    <div class="h1 title">Éditer le Profil</div>
    <a class="button button-icon">
        <i class="icon ion-android-cart white"></i>
    </a>
</ion-header-bar>

<ion-content>
    <form ng-submit="update()">

        <div class="list padding">

            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" ng-model="name" >
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" ng-model="mail" >
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Mot de passe</span>
                <input type="password" ng-model="mdp" >
            </label>

        </div>

        <div class="padding">

            <button class="button btn_register button button-big button-assertive connexion" type="submit"> SAUVEGARDER </button>

        </div>

    </form>

</ion-content>