<ion-view view-title="home">


    <ion-content scroll = true>
        <div class="row dates">


        </div>

        <div class="exclus">
            <div class="row">
                <h2> NOS EXCLUS</h2>
            </div>
            <div class="row">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/HtkGluLhnGU" frameborder="0" width="375" height="315"></iframe>
                </div>
            </div>
            <div class="row">

            </div>
        </div>





        </div>



<a ui-sref="pre_home"> prehome </a>

<a ui-sref="profil"> profil</a>

<a ui-sref="categorie">Categorie</a><br>

<a ui-sref="list_produits">Produits</a>

<a ui-sref="spec_produit">spec produit</a>

<a ui-sref="panier">panier</a>

    </ion-content>
</ion-view>
