<ion-view view-title="home">


    <ion-content scroll = true>

        <section class="page_prehome">
        <div class="row dates">


        </div>

        <div class="exclus">
            <div class="row">
                <h2 class="text_exclus"> NOS EXCLUS</h2>
            </div>
            <div class="row">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/HtkGluLhnGU" frameborder="0" width="375" height="315"></iframe>
                </div>
            </div>
            <div class="row">
                <h2>BETRAYING THE MARTYS</h2>
            </div>
            <div class="row">
                <p class="article">Groupe français mais clairement international avec un anglais au chant et un russe à la batterie,
                    Betraying The Martyrs taille sa musique pour une portée plus étendue que celle de l’hexagone. <a class="more">EN SAVOIR PLUS</a></p>
            </div>

            </div>
            </div>
        </div>


            </section>

    </ion-content>
</ion-view>