<div class="list">
    <a ng-repeat="product in products" class="item item-thumbnail-left" ng-click="selectProduct(product)">
    <!--<a ng-repeat="product in products" class="item item-thumbnail-left"  id="{{ product.id }})" ng-click="show()" ng-model="id">-->
        <img src="{{ product.src }}">
        <h2>{{ product.name }}</h2>
        <p>{{ product.desc}}</p>
        <p>{{ product.price}}</p>

    </a>
</div>

<!--<button class="button button-energized" ui-sref="ajouter_produits">
    Ajouter
</button>-->
