<ion-view view-title="Connexion">
    <ion-content scroll="false">
<section class="page_prehome">
        <div ng-controller="ConnexionController" class="page_register">
          <!-- ng-controller="ConnexionController" -->
            <!-- <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
               ui-sref="prehome">
            </a> -->



            <img src="img/logo.png" class="img-responsive logo_app">


            <form ng-submit="userConnexion()" class="deja_compte">

                <div class="list form_register">
                    <label class="item item-input compte_co">
                        <input type="email" ng-model="mail" placeholder="Mail">
                    </label>
                    <label class="item item-input compte_co">
                        <input type="password" ng-model="mdp" placeholder="Votre mot de passe">
                    </label>
                </div>

                <button class="btn_register button button-small button-assertive connexion inscrit" type="submit">
                    JE ME CONNECTE
                </button>

            </form>

        </div>
        </section>

    </ion-content>
</ion-view>
