<ion-header-bar>
    <div class="h1 title">Mon panier</div>
</ion-header-bar>

<ion-content>
    <div class="list">
        <a class="item item-avatar">
            <img src="venkman.jpg">
            <h2>Venkman</h2>
            <span class="badge badge-assertive">0</span>
        </a>
        <a class="item item-avatar">
            <img src="venkman.jpg">
            <h2>Venkman</h2>
            <span class="badge badge-assertive">0</span>
        </a>
        <a class="item item-avatar">
            <img src="venkman.jpg">
            <h2>Venkman</h2>
            <span class="badge badge-assertive">0</span>
        </a>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
            Prix total : <i class="icon ion-social-euro"></i>
        </div>
    </div>

    <button class="button button-full button-assertive">
        Procéder au paiement
    </button>
</ion-content>