<ion-header-bar>
    <div class="h1 title">Mon panier</div>
</ion-header-bar>

<ion-content>
    <div class="list">
        <a class="item item-avatar" ng-repeat="product in myCart">
            <img src="{{ product.src }}">
            <h2>{{ product.name }}</h2>
            <span class="badge badge-assertive">{{ product.price }}</span>
        </a>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
            Prix total : <i class="icon ion-social-euro"></i>
        </div>
    </div>

    <button class="button button-full button-assertive">
        Procéder au paiement
    </button>
</ion-content>