<ion-view view-title="pre_home">

    <ion-content scroll="false" ng-controller="gmailAuth">
      <!-- ng-controller="UserController" -->

        <section class="page_prehome">


            <img src="img/logo.png" class="img-responsive logo_app">


            <section class="button_prehome">
              <button ui-sref="register" class="btn_register button button-small button-assertive connexion"> INSCRIPTION </button>
              <!-- <button class="btn_connexionfb" ng-click="auth.$authWithOAuthPopup('facebook');showPopup()">Connexion gmail</button> -->

              <form ng-submit="gmailAoth()">
                  <button class="btn_register button button-small button-assertive connexion" type="submit">
                      CONNEXION GMAIL
                  </button>
              </form>
            </section>

                <a ui-sref="login" class="deja"> Déjà un compte ? </a>


        </section>

    </ion-content>
</ion-view>
