<ion-view view-title="pre_home">

    <ion-content scroll="false" ng-controller="gmailAuth">
      <!-- ng-controller="UserController" -->

        <section class="page_prehome">


                <h1> titre </h1>


            <a ui-sref="login"> déjà un compte ? </a>
            <button ui-sref="register" > Inscription </button>
            <!-- <button class="btn_connexionfb" ng-click="auth.$authWithOAuthPopup('facebook');showPopup()">Connexion gmail</button> -->

            <form ng-submit="gmailAoth()">
                <button class="btn_register button button-small button-assertive" type="submit">
                    Connexion gmail
                </button>
            </form>

        </section>

    </ion-content>
</ion-view>
