<ion-header-bar>
    <a class="button button-icon" ui-sref="homepage">
        <i class="icon ion-android-arrow-back white"></i>
    </a>
    <div class="h1 title">Profil</div>
</ion-header-bar>

<ion-content>

<h2 style="text-align: center; margin-top:5%; color: white; font-family: 'Raleway', sans-serif;"> Votre profil </h2><br>

<div class="list padding" style="color: white; font-size: 1.3em; font-family: 'Raleway', sans-serif;">

    Prénom Nom: {{name}}<br><br>

    Email : {{email}}<br>

</div>




        <button class="button btn_register button button-big button-assertive connexion" ui-sref="edit_profil"> ÉDITER LE PROFIL </button>

        <button class="button btn_register button button-big button-assertive connexion" ng-click="signOut()"> DÉCONNEXION </button>

    <br><br>

    <a ui-sref="support" class="deja"> Besoin d'un support ? </a>



</ion-content>
</section>