<ion-view view-title="Inscription">
    <ion-content scroll="false">

        <div  class="page_register" ng-controller="AuthController">
          <!-- ng-controller="AuthController" -->
            <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
               ui-sref="prehome">
            </a>

            <h1>  </h1>


            <form ng-submit="addUser()">

                <div class="list form_register">
                    <label class="item item-input">
                        <input type="text" ng-model="pseudo" placeholder="Votre pseudo">
                    </label>
                    <label class="item item-input">
                        <input type="email" ng-model="email" placeholder="Votre addresse email">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="mdp" placeholder="Votre mot de passe">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="mdpConf"  placeholder="Confirmation de mot de passe">
                    </label>
                </div>

                <button class="btn_register button button-small button-assertive" type="submit">
                    JE M'INSCRIS
                </button>


            </form>
        </div>

    </ion-content>
</ion-view>
