<ion-header-bar>
	<a class="button button-icon" ui-sref="list_produits">
    	<i class="icon ion-android-arrow-back white"></i>
  	</a>
	<div class="h1 title">{{ singleProduct.categorie }}</div>
	<a class="button button-icon" ui-sref="panier">
    	<i class="icon ion-android-cart white"></i>
  	</a>
</ion-header-bar>
<ion-content>
	<div class="list card">
	  	<div class="item">
		    <h2>{{ singleProduct.name }}</h2>
	  	</div>

	  	<div class="item item-image">
	    	<img src="{{ singleProduct.src }}">
	  	</div>

	  	<div class="item singleProduct">
	  		{{ singleProduct.desc }}
	  		<h4><strong>{{ singleProduct.price }} <i class="icon ion-social-euro"></i></strong></h4>
	  		<!--<h3>Genres : Metal</h3>-->
	  	</div>
	  	<!--<div class="list">
		  	<div class="item item-divider">
		    	Morceaux
		  	</div>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	Jigsaw
		  	</a>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	Where the World Ends
		  	</a>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	Walk Away
		  	</a>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	Let It Go
		  	</a>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	L’abysse Des Anges
		  	</a>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	Phantom (Fly Away)
		  	</a>
		  	<a class="item item-icon-left" href="#">
		    	<i class="icon ion-play positive"></i>
		    	What's Left of You
		  	</a>
		</div>-->
	</div>
</ion-content>