<ion-view view-title="support">
    <ion-header-bar>
        <a class="button button-icon" ui-sref="profil">
            <i class="icon ion-android-arrow-back white"></i>
        </a>
        <div class="h1 title">Support</div>
    </ion-header-bar>

    <div class="support">
        <br>
        <br>
        <br>

        <div class="padding">
            <p>
                <b>Réclamations</b> : vous pouvez contacter le support de réclamations via le mail <br>
            support-reclamations@btm.fr <br><br>

                <b>Aide</b> : vous avez des soucis avec l'application ? Envoyez un mail au <br>
            support-contact@btm.fr

            </p>
        </div>
    </div>

</ion-view>