/* Empty. Add your own CSS if you like */

@import url("https://fonts.googleapis.com/css?family=Raleway:900");

.white{
	color: white;
}

/*Pre home*/
.page_prehome{
  background-color: #333333;
  height: 100%;
  text-align:center;
}
.logo_app{
  margin-top: 20%;
}
.connexion{
  display: inline-block;
  width: 100%;
  margin-top: 1px;
  background-color: #990100 !important;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.button_prehome{
  margin-top: 55%;
  height:100px !important;
  margin-bottom:4%;
}

.deja{
  text-decoration: none;
  color:white;
  margin-top: 30% !important;
}


.deja_compte{
  margin-top: 40%;
}

.inscription{
  margin-top:30%;
}
/*.compte_co{
  background-color: black;
  color: white !important;
}*/


.inscrit {
  margin-top: -6%;
}

.bar-header {
    background-color:#333333 !important;

}
.title{
    color:white;
}

.list-header{
    overflow: auto;
}

/*NAV*/

.bar.bar-dark{
  background-color: #333333;
  height: 60px;
}

.button-bar{
  float: none;
  display: inline-block;
  text-align: center;
  margin-top: 2%;
}

.icon_menu {
  margin-right: 7%;
  margin-left: 7%;
}


/*HOME */


.home{
    background-color: #333333;
}

.article{
    color: white;
    font-size: 14px;
    text-align: justify;
    padding: 3%;
}

.row{
    padding:0;
}
.dates{
    height: auto;
}

.exclus{
    height : auto;

}

.exclus h2{
   color: white;
}

.text_exclus{
    font-family: 'Raleway', sans-serif;

    color:white;
}

.more{
    color:  #990100;
}



/* SUPPORT */
.support {
    height: 100%;
    background-color: #333333;
    color: white;
}

.support h1 {
  padding-top: 10%;
  color: white;
  font-family: 'Raleway', sans-serif;
}