/* Empty. Add your own CSS if you like */
@import url("https://fonts.googleapis.com/css?family=Raleway:900");
/*Pre home*/
.page_prehome{
  background-color: #333333;
  height: 100%;
  text-align:center;
}
.logo_app{
  margin-top: 20%;
}
.connexion{
  display: inline-block;
  width: 100%;
  margin-top: 1px;
  background-color: #990100 !important;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.button_prehome{
  margin-top: 55%;
  height:100px !important;
  margin-bottom:4%;
}

.deja{
  text-decoration: none;
  color:white;
  margin-top: 30% !important;
}


.deja_compte{
  margin-top: 40%;
}

.inscription{
  margin-top:30%;
}
/*.compte_co{
  background-color: black;
  color: white !important;
}*/

.inscrit{
  margin-top: -6%;
}